<div class = "container mx-auto">
    <div class="card mx-auto" style="width: 18rem;">
      <h1 class = "text-center">Profil</h1>
      <div class="card-body">
        <h5 class="card-title text-center"><%= @user.first_name %> <%= @user.last_name%></h5>
        <h6 class="card-subtitle mb-2 text-muted text-center">Date d'inscription : <%= @user.created_at%></h6>
        <p class="card-text text-center">email : <%= @user.email%></p>
        <p class="card-text text-center">description : <%= @user.description%></p>
        <div class = "footer">

      </div>
    </div>
   <%= link_to "Changer de mot de passe et de mail ", edit_user_registration_path , class: "dropdown-item" if current_user == @user%>
</div>

<div class = "container">
  <div class = "row">
    <div class = "col-md-6 offset-md-3">
    <br><br><br>

  <h1 class= "text-center">Events programmés</h1>
  <%@user_events.each do |event|%>
    <div class = "container ">
      <div class="card mx-auto" style="width: 18rem;">
        <h5 class="card-title text-center"><%= link_to "#{event.title}", event_path(event.id) %>
      </div>
  </div>
  <% end %>
</div>
</div>