<div class= "container">
      <h1  class="mx-auto" style="width: 200px;"><%= @event.title %></h1> 
      <div class="card">
        <div class="card-body mx-auto">
        <h6 class="card-subtitle mb-2 text-muted"> Auteur : <%= link_to "#{@event.admin.first_name} #{@event.admin.last_name}", user_path(@event.admin.id)%></h6>
        <p class="card-text"><%= @event.description %></p>
        <h6 class="card-subtitle mb-2 text-muted"> Débute le : <%= @event.created_at%></h6>
        <h6 class="card-subtitle mb-2 text-muted"> À : <%=  "#{@event.location}" %></h6>
        <h6 class="card-subtitle mb-2 text-muted"> Durée : <%=  "#{@event.duration} mins" %></h6>
        <h6 class="card-subtitle mb-2 text-muted"> Prix : <%=  "#{@event.price} €" %></h6>
        <% if current_user == @event.admin%>
          <%= link_to "Modifier l'evenement", edit_event_path(@event.id), class: "btn btn-success"%>
          <a href= "<%#{event_path(@event.id)}%>" class= "btn btn-danger" data-confirm = "Sur ?" data-method= "delete">Supprimer</a>
          <% end %>    
        </div>
      </div>
    </div>